---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<body class="flex flex-col items-center">
		<main class="h-full w-full flex justify-center">
			Home
		</main>
	</body>
</BaseLayout>
