---
// Import the data from the TypeScript data file
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectsList from "../components/ProjectsList.astro";
import BlogPostShort from "../components/BlogPostShort.astro";

const allPosts = await Astro.glob("../pages/posts/*.md");

---
<BaseLayout>
    <main class="max-w-prose h-full w-full flex flex-col items-center p-l-4 p-r-4">
        <section class="w-full p-x4 p-y2">
            <h1 class="text-size-3xl">Jakob Maležič</h1>
            <p class="opacity-50 italic">DevOps engineer at Medius.si and a passionate developer of side projects in free time.</p>
        </section>
        <section class="w-full">
            <ProjectsList/>
        </section>
        <section class="w-full">
            <div class="p-4">
                <h1 class="text-xl">Blog</h1>
                <!--<p class="opacity-50 italic">List of projects that I am proud of:</p>-->
            </div>
            <ul>
                {
                    allPosts.map((post) => (
                            <BlogPostShort
                                    url={post.url}
                                    title={post.frontmatter.title}
                                    pubDate={post.frontmatter.pubDate}
                            />
                    ))
                }
            </ul>
        </section>
    </main>
</BaseLayout>
