---
import HeaderLink from "./HeaderLink.astro";

---
<header>
    <nav class="flex gap-3 m-10">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/projects">Projects</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <!-- <HeaderLink href="https://github.com/blarc" target="_blank">GitHub</HeaderLink> -->
    </nav>
</header>
