---
const { href, ...props } = Astro.props;
---

<a
  href={href}
  rel="prefetch"
  class="text-normal opacity-50 hover:opacity-100 ease-out transition-transform ml-3 mr-3"
  {...props}
>
  <slot />
</a>
