---
import HeaderLink from "./HeaderLink.astro";

---
<header class="max-w-prose w-full">
    <nav class="flex gap-3 m-y5 m-x5">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <!-- <HeaderLink href="https://github.com/blarc" target="_blank">GitHub</HeaderLink> -->
    </nav>
</header>
